.DS_Store
.dart_tool/
.idea/
.metadata
*.lock

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

android/local.properties

.flutter-plugins
*.log
.flutter-plugins-dependencies